@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneueltprobdcn.eot");
  src: url("../fonts/helveticaneueltprobdcn.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltprobdcn.woff") format("woff"), url("../fonts/helveticaneueltprobdcn.ttf") format("truetype"), url("../fonts/helveticaneueltprobdcn.svg#helveticaneueltprobdcn") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneueltproultlt.eot");
  src: url("../fonts/helveticaneueltproultlt.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltproultlt.woff") format("woff"), url("../fonts/helveticaneueltproultlt.ttf") format("truetype"), url("../fonts/helveticaneueltproultlt.svg#helveticaneueltproultlt") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 26, ../sass/style.scss */
html body {
  background-color: black; }
  /* line 28, ../sass/style.scss */
  html body div#page {
    background-image: url("../img/bg.jpg");
    background-position-x: center;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 30px; }
    /* line 36, ../sass/style.scss */
    html body div#page div#innerpage {
      width: 900px;
      margin: 0 auto;
      border: 1px solid #e9e9e9;
      background-color: white;
      padding: 30px; }
      /* line 42, ../sass/style.scss */
      html body div#page div#innerpage > header {
        width: 900px;
        border-bottom: 1px dotted #c2c2c2;
        margin-bottom: 50px; }
        /* line 46, ../sass/style.scss */
        html body div#page div#innerpage > header div#logo {
          height: 105px;
          width: 100%;
          font-family: 'Helvetica Neue';
          font-size: 60px;
          text-align: center;
          padding-top: 10px; }
          /* line 53, ../sass/style.scss */
          html body div#page div#innerpage > header div#logo a {
            text-decoration: none;
            color: #9d9d9d; }
        /* line 58, ../sass/style.scss */
        html body div#page div#innerpage > header div#slider {
          height: 300px;
          border: 1px solid #eaeaea;
          padding: 3px;
          position: relative; }
          /* line 63, ../sass/style.scss */
          html body div#page div#innerpage > header div#slider div#innerslider {
            height: 100%; }
            /* line 65, ../sass/style.scss */
            html body div#page div#innerpage > header div#slider div#innerslider ul {
              margin: 0;
              padding: 0;
              list-style: none;
              height: 100%;
              position: relative; }
              /* line 71, ../sass/style.scss */
              html body div#page div#innerpage > header div#slider div#innerslider ul li {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0; }
          /* line 81, ../sass/style.scss */
          html body div#page div#innerpage > header div#slider > a {
            cursor: pointer;
            position: absolute;
            top: 125px;
            width: 50px;
            height: 46px;
            padding: 2px 0;
            background-color: white;
            -webkit-border-radius: 25px 25px;
            -moz-border-radius: 25px / 25px;
            border-radius: 25px / 25px;
            color: #313131;
            text-decoration: none;
            font-size: 37px;
            font-family: sans-serif;
            text-align: center; }
          /* line 96, ../sass/style.scss */
          html body div#page div#innerpage > header div#slider a.backward {
            left: -25px; }
          /* line 99, ../sass/style.scss */
          html body div#page div#innerpage > header div#slider a.forward {
            right: -25px; }
        /* line 103, ../sass/style.scss */
        html body div#page div#innerpage > header nav {
          height: 30px;
          margin: 60px 0; }
          /* line 106, ../sass/style.scss */
          html body div#page div#innerpage > header nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0 auto;
            display: block;
            text-align: center; }
            /* line 112, ../sass/style.scss */
            html body div#page div#innerpage > header nav ul li {
              padding: 0 20px;
              margin: 0;
              font-family: 'Helvetica Neue';
              font-weight: bold;
              text-transform: uppercase;
              font-size: 28px;
              display: inline-block;
              border-right: 1px dotted #c2c2c2;
              line-height: 35px; }
              /* line 122, ../sass/style.scss */
              html body div#page div#innerpage > header nav ul li a {
                text-decoration: none;
                color: #9a9a9a; }
                /* line 125, ../sass/style.scss */
                html body div#page div#innerpage > header nav ul li a span:first-child {
                  color: #cb333f; }
              /* line 129, ../sass/style.scss */
              html body div#page div#innerpage > header nav ul li.active {
                text-align: right; }
                /* line 131, ../sass/style.scss */
                html body div#page div#innerpage > header nav ul li.active a {
                  color: #cb333f; }
              /* line 135, ../sass/style.scss */
              html body div#page div#innerpage > header nav ul li:last-child {
                border: none;
                font-size: 14px; }
              /* line 139, ../sass/style.scss */
              html body div#page div#innerpage > header nav ul li:first-child {
                font-size: 14px; }
      /* line 146, ../sass/style.scss */
      html body div#page div#innerpage div#content {
        width: 900px; }
        /* line 148, ../sass/style.scss */
        html body div#page div#innerpage div#content aside#sidebar-left {
          float: left;
          width: 259px;
          padding: 0 20px; }
          /* line 152, ../sass/style.scss */
          html body div#page div#innerpage div#content aside#sidebar-left div.widget {
            width: 240px;
            padding: 0 10px; }
            /* line 155, ../sass/style.scss */
            html body div#page div#innerpage div#content aside#sidebar-left div.widget h3 {
              margin: 0;
              padding: 0;
              font-family: 'Helvetica Neue';
              font-weight: bold;
              text-transform: uppercase;
              font-size: 15px; }
            /* line 163, ../sass/style.scss */
            html body div#page div#innerpage div#content aside#sidebar-left div.widget ul {
              list-style-type: none;
              padding: 0;
              margin: 0; }
              /* line 167, ../sass/style.scss */
              html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li {
                padding: 0;
                margin: 0;
                border-bottom: 1px dotted #c2c2c2;
                height: 30px;
                font-family: 'Helvetica Neue';
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                display: block;
                position: relative;
                -webkit-transition-property: border-bottom-color;
                -moz-transition-property: border-bottom-color;
                -o-transition-property: border-bottom-color;
                transition-property: border-bottom-color;
                -webkit-transition-duration: 0.25s;
                -moz-transition-duration: 0.25s;
                -o-transition-duration: 0.25s;
                transition-duration: 0.25s;
                -webkit-transition-timing-function: ease-in;
                -moz-transition-timing-function: ease-in;
                -o-transition-timing-function: ease-in;
                transition-timing-function: ease-in; }
                /* line 181, ../sass/style.scss */
                html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li a {
                  display: block;
                  padding: 9px 0 0 0;
                  text-decoration: none;
                  color: #c9c9c9;
                  -webkit-transition-property: color;
                  -moz-transition-property: color;
                  -o-transition-property: color;
                  transition-property: color;
                  -webkit-transition-duration: 0.25s;
                  -moz-transition-duration: 0.25s;
                  -o-transition-duration: 0.25s;
                  transition-duration: 0.25s;
                  -webkit-transition-timing-function: ease-in;
                  -moz-transition-timing-function: ease-in;
                  -o-transition-timing-function: ease-in;
                  transition-timing-function: ease-in; }
                  /* line 190, ../sass/style.scss */
                  html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li a span {
                    display: inline;
                    width: auto;
                    padding-left: 20px;
                    background: url("../img/submenu-arrow.png") left top no-repeat;
                    -webkit-transition-property: background-position;
                    -moz-transition-property: background-position;
                    -o-transition-property: background-position;
                    transition-property: background-position;
                    -webkit-transition-duration: 0.25s;
                    -moz-transition-duration: 0.25s;
                    -o-transition-duration: 0.25s;
                    transition-duration: 0.25s;
                    -webkit-transition-timing-function: ease-in;
                    -moz-transition-timing-function: ease-in;
                    -o-transition-timing-function: ease-in;
                    transition-timing-function: ease-in; }
                /* line 200, ../sass/style.scss */
                html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li:hover, html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li.active {
                  border-bottom-color: #cb333f;
                  -webkit-transition-property: border-bottom-color;
                  -moz-transition-property: border-bottom-color;
                  -o-transition-property: border-bottom-color;
                  transition-property: border-bottom-color;
                  -webkit-transition-duration: 0.25s;
                  -moz-transition-duration: 0.25s;
                  -o-transition-duration: 0.25s;
                  transition-duration: 0.25s;
                  -webkit-transition-timing-function: ease-in;
                  -moz-transition-timing-function: ease-in;
                  -o-transition-timing-function: ease-in;
                  transition-timing-function: ease-in; }
                  /* line 205, ../sass/style.scss */
                  html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li:hover a, html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li.active a {
                    color: #cb333f;
                    -webkit-transition-property: color;
                    -moz-transition-property: color;
                    -o-transition-property: color;
                    transition-property: color;
                    -webkit-transition-duration: 0.25s;
                    -moz-transition-duration: 0.25s;
                    -o-transition-duration: 0.25s;
                    transition-duration: 0.25s;
                    -webkit-transition-timing-function: ease-in;
                    -moz-transition-timing-function: ease-in;
                    -o-transition-timing-function: ease-in;
                    transition-timing-function: ease-in; }
                    /* line 210, ../sass/style.scss */
                    html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li:hover a span, html body div#page div#innerpage div#content aside#sidebar-left div.widget ul li.active a span {
                      background-position: left bottom;
                      -webkit-transition-property: background-position;
                      -moz-transition-property: background-position;
                      -o-transition-property: background-position;
                      transition-property: background-position;
                      -webkit-transition-duration: 0.25s;
                      -moz-transition-duration: 0.25s;
                      -o-transition-duration: 0.25s;
                      transition-duration: 0.25s;
                      -webkit-transition-timing-function: ease-in;
                      -moz-transition-timing-function: ease-in;
                      -o-transition-timing-function: ease-in;
                      transition-timing-function: ease-in; }
        /* line 223, ../sass/style.scss */
        html body div#page div#innerpage div#content div#content {
          overflow: hidden;
          float: left;
          width: 560px;
          padding: 0 20px;
          border-left: 1px dotted #c2c2c2; }
          /* line 229, ../sass/style.scss */
          html body div#page div#innerpage div#content div#content header#articleheader {
            position: relative;
            overflow: hidden;
            border: 1px solid #ebebeb;
            -webkit-border-radius: 4px 4px;
            -moz-border-radius: 4px / 4px;
            border-radius: 4px / 4px; }
            /* line 234, ../sass/style.scss */
            html body div#page div#innerpage div#content div#content header#articleheader img {
              float: left;
              border: 2px solid white; }
            /* line 238, ../sass/style.scss */
            html body div#page div#innerpage div#content div#content header#articleheader h1 {
              position: absolute;
              left: 0;
              top: 0;
              margin: 0;
              padding: 0;
              color: #FFF;
              font-family: 'Helvetica Neue'; }
          /* line 248, ../sass/style.scss */
          html body div#page div#innerpage div#content div#content ul.blocks {
            background: url("../img/bg-content.png") bottom center;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: -40px; }
            /* line 255, ../sass/style.scss */
            html body div#page div#innerpage div#content div#content ul.blocks li:last-child {
              clear: both; }
            /* line 259, ../sass/style.scss */
            html body div#page div#innerpage div#content div#content ul.blocks li.item {
              margin: 0;
              padding: 0;
              display: table-cell;
              vertical-align: middle;
              width: 260px;
              height: 200px;
              float: left;
              margin-bottom: 40px;
              font-family: 'Helvetica Neue';
              letter-spacing: 5px;
              text-transform: uppercase;
              font-size: 13px;
              text-align: center;
              -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 32px 0 inset;
              -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 32px 0 inset;
              box-shadow: rgba(0, 0, 0, 0.3) 0 0 32px 0 inset; }
              /* line 274, ../sass/style.scss */
              html body div#page div#innerpage div#content div#content ul.blocks li.item a {
                display: block;
                color: white;
                text-decoration: none;
                padding: 92px 0px;
                opacity: 0;
                background-color: rgba(204, 51, 63, 0.8);
                -webkit-transition-property: opacity;
                -moz-transition-property: opacity;
                -o-transition-property: opacity;
                transition-property: opacity;
                -webkit-transition-duration: 0.25s;
                -moz-transition-duration: 0.25s;
                -o-transition-duration: 0.25s;
                transition-duration: 0.25s;
                -webkit-transition-timing-function: ease-in;
                -moz-transition-timing-function: ease-in;
                -o-transition-timing-function: ease-in;
                transition-timing-function: ease-in;
                -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 32px 0 inset;
                -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 32px 0 inset;
                box-shadow: rgba(0, 0, 0, 0.3) 0 0 32px 0 inset; }
                /* line 285, ../sass/style.scss */
                html body div#page div#innerpage div#content div#content ul.blocks li.item a:hover {
                  opacity: 1;
                  -webkit-transition: opacity;
                  -moz-transition: opacity;
                  -o-transition: opacity;
                  transition: opacity;
                  -webkit-transition-duration: 0.25s;
                  -moz-transition-duration: 0.25s;
                  -o-transition-duration: 0.25s;
                  transition-duration: 0.25s;
                  -webkit-transition-timing-function: ease-in;
                  -moz-transition-timing-function: ease-in;
                  -o-transition-timing-function: ease-in;
                  transition-timing-function: ease-in; }
              /* line 292, ../sass/style.scss */
              html body div#page div#innerpage div#content div#content ul.blocks li.item:nth-child(odd) {
                margin-right: 20px; }
              /* line 295, ../sass/style.scss */
              html body div#page div#innerpage div#content div#content ul.blocks li.item:nth-child(even) {
                margin-left: 20px; }
              /* line 298, ../sass/style.scss */
              html body div#page div#innerpage div#content div#content ul.blocks li.item span {
                display: block; }
  /* line 307, ../sass/style.scss */
  html body footer {
    width: 960px;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    color: #FFF;
    overflow: hidden;
    font-size: 12px; }
    /* line 314, ../sass/style.scss */
    html body footer div.widget {
      width: 25%;
      float: left; }

/* line 322, ../sass/style.scss */
div.clearfix {
  clear: both; }

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 347, ../sass/style.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 357, ../sass/style.scss */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 366, ../sass/style.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 375, ../sass/style.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 389, ../sass/style.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 399, ../sass/style.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 411, ../sass/style.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 420, ../sass/style.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 433, ../sass/style.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 442, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 451, ../sass/style.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 459, ../sass/style.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 467, ../sass/style.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 477, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 489, ../sass/style.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 498, ../sass/style.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 506, ../sass/style.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 514, ../sass/style.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 523, ../sass/style.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 530, ../sass/style.scss */
sup {
  top: -0.5em; }

/* line 534, ../sass/style.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 546, ../sass/style.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 554, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 566, ../sass/style.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 578, ../sass/style.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 589, ../sass/style.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 603, ../sass/style.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 615, ../sass/style.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 627, ../sass/style.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 642, ../sass/style.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 652, ../sass/style.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 662, ../sass/style.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 673, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 686, ../sass/style.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 695, ../sass/style.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 705, ../sass/style.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 718, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }
